In [1]:
age=26
type(age)

int

In [5]:
age_str=str(age)
type(age_str)

str

In [6]:
age='25'
print(type(int(age)))

<class 'int'>

In [7]:
height=5.11
type(height)

float

In [9]:
int(height)
float(int(height))

5.0

In [10]:
var=10
print(var,type(var))

var="fahim"
print(var,type(var))

var=10.11
print(var,type(var))

10 <class 'int'>
fahim <class 'str'>
10.11 <class 'float'>

In [11]:
age=int(input("What's your age"))
print(age)

12

In [12]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
difference = num1-num2
product = num1 * num2
quotient = num1 / num2
print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 22.0
Difference: 2.0
Product: 120.0
Quotient: 1.2