In [10]:
empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

In [11]:
lst=list()
print(type(lst))

tup=tuple()
print(type(tup))

<class 'list'>
<class 'tuple'>

In [12]:
mixed_tuple=("Fahim",7,2.3,True)

print(mixed_tuple)

('Fahim', 7, 2.3, True)

In [13]:
list((1,2,3))

[1, 2, 3]

In [14]:
my_list = [1, 2, 3, 4, 5]
numbers = tuple(my_list)
print(numbers)

(1, 2, 3, 4, 5)

In [15]:
numbers=(1,2,3,4,5,6)

print(numbers[1])
print(numbers[-1])
print(numbers[::])
print(numbers[::-1])

2
6
(1, 2, 3, 4, 5, 6)
(6, 5, 4, 3, 2, 1)

In [16]:
concatination_tuple=numbers + mixed_tuple

print(concatination_tuple)

(1, 2, 3, 4, 5, 6, 'Fahim', 7, 2.3, True)

In [19]:
print(mixed_tuple *5)

print(numbers *4)

('Fahim', 7, 2.3, True, 'Fahim', 7, 2.3, True, 'Fahim', 7, 2.3, True, 'Fahim', 7, 2.3, True, 'Fahim', 7, 2.3, True)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [20]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
# methods
print(numbers.count(2))
print(numbers.index(4))

1
3

In [23]:
#packing tuples

packed_tuple=1,"Fahim",3.14,True

print(packed_tuple)

(1, 'Fahim', 3.14, True)

In [24]:
#unpacking tuples

a,b,c,d=packed_tuple

print(a)
print(b)
print(c)
print(d)

1
Fahim
3.14
True

In [25]:
first,*middle,last=numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [28]:
## Nested list

num=[[1,3,5],[2,4,6],[7,9],[8,10]]

print(num)

print(num[1][1])

[[1, 3, 5], [2, 4, 6], [7, 9], [8, 10]]
4

In [30]:
num=[[1,3,5],[2,4,6],[7,9],(8,10)]

print(num)

print(num[3][1])

[[1, 3, 5], [2, 4, 6], [7, 9], (8, 10)]
10

In [32]:
## Nested tuple

nested_tuple=((1,3,5),(2,4,6),(7,9),(8,10))

print(nested_tuple)

print(nested_tuple[1][2])

((1, 3, 5), (2, 4, 6), (7, 9), (8, 10))
6

In [34]:
nested_tuple=((1,3,5),(2,4,6),(7,9),[8,10])

print(nested_tuple)

print(nested_tuple[3][1])

((1, 3, 5), (2, 4, 6), (7, 9), [8, 10])
10